* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

aside{
     /* order: 2; */
    padding: 90px 20px;
    background: #ccc;
}
article{
    /* order: 1; */
    padding: 30px;
    background: grey;
}